<!--This is a Handlebars Partials files which allows for easy replication of standard content across different 
handlebar files-->
<header>
    <h1>Weather App</h1>
<div>
    <a href = '/'>Home</a> <!--To point to the root file, just put '/', no need for '/index'-->
    <a href = '/about'>About</a>
    <a href= '/help'>Help</a>
</div>
<h2>{{title}}</h2> <!--Handlebar variables can be used in partial files too-->
</header>