body {
    margin: 0 auto;
    padding: 0 180px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div.main-content {
    flex-grow: 1;
}

footer {
    border-top: 1px solid lightslategray;
    font-style: oblique;
    font-size: 14px;
    margin-top: 30px;
}

header h1 {
    font-size: 44px;
    color: #686968;
    text-align: center;
}
header h1::before {
    content: '\1F31E';
}
header h1::after {
    content: '\2614'
}
header div {
    text-align: center;
}
header div a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    margin: 0 10px;
}
header h2 {
    font-size: 27px;
    color: #465790;
}
header h2::before {
    content: '\1F449';
    margin-right: 10px;
}

div.index {
    font-size: 15px;
}
div.about img{
    display: block;
    margin: auto;
    width: 350px;
}
div.about p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

p#message-one {
    color: cornflowerblue;
    font-weight: bold;
}
p#message-two {
    color: cornflowerblue;
}

input {
    border: 2px solid grey;
    padding: 5px;
}

button {
    border: 2px solid grey;
    padding: 4px;
    border-radius: 4px;
    font-style: oblique;
    font-family: monospace;
    cursor: pointer;
}

p.error-heading {
    font-size: 17px;
    font-weight: bold;
    color: crimson;
}
p.error-heading::after {
    content: '\2757';
    font-size: 25px;
}
p.error-heading::before {
    content: '\1F6A8';
    font-size: 25px;
}

ul.error-list > li > p {
    font-weight: bold;
}

img.githublogo {
    width: 40px;
}
img.instalogo {
    margin-bottom: 3px;
    width: 33px;
}